{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    <article class="{{post_class}}">
        <h1 class="post-title">404 - Don't Panic</h1>

        <section class="post-content" id="jetzt-container">
            It seems that the page you are looking for is not here. <strong>Maybe someone stole it.</strong>
	    Just to be sure, please check the URL in the address bar, otherwise you can take a look at my <strong>recent
            posts</strong> below.
        </section>
    </article>

    {{#get "posts" limit="3" as |recents|}}
    <section class="recent-posts">
        {{#foreach recents}}
        <article class="{{post_class}}">
            <header class="post-header">
                <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                    {{#if tags}}on {{tags}}{{/if}} | <a href="{{url}}#disqus_thread">Comments<a>
                </span>
                <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            </header>
            {{#if feature_image}}
            <div class="post-thumbnail">
	        <a href="{{url}}"><img src="{{img_url feature_image}}" /></a>
	    </div>
            {{/if}}
            <section class="post-excerpt">
                <p>{{excerpt characters=250}}&hellip; <em><a href="{{url}}" style="text-decoration: none; color: #66F;">(read more)</a></em></p>
            </section>
        </article>
        {{/foreach}}
    </section>
    {{/get}}

	<footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
        <div class="inner">
            <section class="copyright">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
		</a><br />
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">
                    {{@blog.title}}
                </span>
		by <a xmlns:cc="http://creativecommons.org/ns#" href="http://while2.ghost.io/about" property="cc:attributionName" rel="cc:attributionURL">
                    Luca Sommacal</a>
		is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                    CC BY-NC 4.0 License</a>
            </section>
            <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
        </div>
    </footer>

	 <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'while2g'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</main>
